<tr>
    <td>
        <a name="property_{{name}}"></a>
        `{{name}}`
    </td>
    <td>
        <strong>{{#crossLink type}}{{/crossLink}}</strong> {{#if final}} <em>(final)</em>{{/if}}{{#if static}} <em>(static)</em>{{/if}}<br>
    </td>
    <td>
        {{{propertyDescription}}}
        {{#if example}}
            <h5>Example</h5>
            {{{example}}}
        {{/if}}
    </td>
</tr>
